body {
  background-color: antiquewhite;
  color: rgb(255, 36, 36);
  width: 850px;
  height: 400px;
}
div {
  width: 100%;
  height: 50%;
  background-color: blueviolet;
}

h1 {
  color: rgb(245, 20, 20);
}